/* Main */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ĐĂNG NHẬP */

#body_login {
    background-image: linear-gradient(#4B3A99, #EB128D);
}


/* QUẢN LÍ THÀNH VIÊN  */

.body_control {
    background-color: whitesmoke;
}

.add_member {
    color: red;
    font-size: 20px;
}

.member_table td {
    border: 2px solid black;
    font-size: 20px;
}


/* ĐĂNG KÝ */

.body_create {
    background-color: antiquewhite;
    color: black;
}

.btn_create {
    text-align: center;
}


/* MAIN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #29303b;
    font-weight: normal;
}

header {
    font-size: 13px;
    color: #505763;
    font-weight: normal;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left p {
    display: inline;
    padding-left: 10px;
    font-size: 25px;
    color: red;
}

.header__left .navbar-brand img {
    width: 50px;
}

.header__left .header__form {
    flex-grow: 2;
    margin-left: 20px;
}

.header__right .nav-link {
    font-size: 20px;
    color: #505763;
    font-weight: normal;
}

.header__right {
    font-size: 20px;
    font-weight: normal;
    float: right;
}

.header__right .nav-item {
    padding: 0 20px;
}

.header__right img {
    width: 30px;
}

.nav-item {
    border-radius: 50%;
    padding: 12px 0;
    width: 45px;
}

.sources .cell {
    text-align: center;
    margin: 30px;
    border-radius: 15px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 8px 2px rgb(0, 0, 0, 0.2);
    transition: 0.2;
}

.sources .cell img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.sources .cell .user-info .className {
    margin-top: 8px;
    font-weight: bold;
    display: block;
}

.sources .cell .user-info span {
    text-align: left;
    display: block;
}

.sources .cell .user-info .position {
    font-size: 13px;
}

.sources .cell:hover {
    box-shadow: 4px 12px 15px 2px rgb(0, 0, 0, 0.2);
    border: 1px solid black;
}

.header__right .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.creatClass .col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.creatClass .col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.creatClass .col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.creatClass .col-25,
.creatClass .col-50,
.creatClass .col-75 {
    padding: 0 16px;
}

.creatClass .container {
    background-color: #f2f2f2;
    padding: 5px 25px 55px 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.creatClass label {
    margin-bottom: 10px;
    display: block;
}

.creatClass button {
    float: right;
    margin: 0 10px;
}

.creatClass h3 {
    color: rgba(92, 47, 255, 0.719);
}

.creatClass {
    padding-top: 50px;
}

.sources .classCard {
    padding: 5px;
}

.sources .settings {
    font-size: 25px;
    flex-direction: row-reverse;
}